<div class="container-fluid">
  <div id="breathe">
    <div id="ball"></div>
  </div>
  <div id="breathe-buttons">
    <button id="start" class="btn btn-sm btn-default">Start</button>
    <button id="stop" class="btn btn-sm btn-default">Stop</button>
    <button id="increase" class="btn btn-sm btn-default">Increase</button>
    <button id="decrease" class="btn btn-sm btn-default">Decrease</button>
    <text id="rate"></text>
  </div>
</div>
<script>
  $(document).ready(function () {
    var flip = true;
    var bpm = 5;

    var audioCtx = new (window.AudioContext || window.webkitAudioContext)();
    var oscillator, gain;
    
    var setUpOscillator = function () {
      oscillator = audioCtx.createOscillator();
      gain = audioCtx.createGain();
      oscillator.connect(gain);
      gain.connect(audioCtx.destination)
      oscillator.type = 'sine';
      oscillator.frequency.value = 100;
      oscillator.start(audioCtx.currentTime);
    };

    var sweepAudio = function () {
      oscillator.frequency.exponentialRampToValueAtTime(!!flip ? 100 : 600, audioCtx.currentTime + ((60 / bpm) / 2));
    };

    var animateBall = function () {
      var height = $('#breathe').outerHeight();

      var direction = !flip ? 0 : (height - 25) + 'px';
      var options = {
        easing: 'ease-in-out',
        duration: ((60 / bpm) / 2) * 1000,
        begin: sweepAudio
      };

      options.complete = animateBall;

      $('#ball').velocity({
        translateY: direction
      }, options);

      flip = !flip;
    };

    var setDurationText = function () {
      $('text#rate').text(bpm + ' BPM');
    };

    setDurationText();

    $('#start').click(function () {
      setUpOscillator();
      animateBall();
    });

    $('#stop').click(function () {
      oscillator.stop();
      
      $('#ball').velocity('stop', true).velocity({
        translateY: 0
      }, {
        easing: 'spring',
      });
      
      flip = true;
    });

    $('#increase').click(function () {
      bpm+=0.25
      setDurationText();
    });

    $('#decrease').click(function () {
      bpm-=0.25;
      setDurationText();
    });

  });
</script>