<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4" id="main-container">
      <div class="heading">
        <div class="heading-container">
          <text class="title">Initiating</text>
          <text class="order">1</text>
        </div>
      </div>
      <div class="hexagram">
        <div class="line yang">
          <div class="center">&nbsp;</div>
        </div>
        <div class="line yang">
          <div class="center">&nbsp;</div>
        </div>
        <div class="line yang">
          <div class="center">&nbsp;</div>
        </div>
        <div class="line yang">
          <div class="center">&nbsp;</div>
        </div>
        <div class="line yang">
          <div class="center">&nbsp;</div>
        </div>
        <div class="line yang">
          <div class="center">&nbsp;</div>
        </div>
      </div>
    </div>
  </div>
  <div id="arrows">
    <span id="left-arrow" class="glyphicon glyphicon-chevron-left glyph-arrows" aria-hidden="true"></span>
    <span id="right-arrow" class="glyphicon glyphicon-chevron-right glyph-arrows" aria-hidden="true"></span>
    <span id="shuffle" class="glyphicon glyphicon-repeat glyph-arrows" aria-hidden="true"></span>
    <span id="flip" class="glyphicon glyphicon-sort glyph-arrows" aria-hidden="true"></span>
  </div>
</div>
<script src="/js/hexagrams.js"></script>
<script>
  $(document).ready(function () {
    jQuery.fn.reverse = [].reverse; // Smallest jquery plugin on earth
    var currentHexagram;

    var changeOrderHeading = function (order) {
      return $('.heading .order').velocity('transition.flipXOut', 200, function () {
        $('.heading .order').text(order);
      }).velocity('transition.flipXIn', 300);
    };

    var changeTitleHeading = function (title) {
      return $('.heading .title').velocity({
        translateX: 100,
        opacity: 0
      }, 200, function () {
        $('.heading .title').text(title);
      }).velocity('transition.slideRightIn', 300);
    };

    var changeSequence = function (sequence, cb) {
      return $('.hexagram').children().reverse().each(function (index, element) {
        var el = $(element);
        return index < 5 ? changeLine(el, true, sequence[index]) : changeLine(el, true, sequence[index], cb);
      });
    };

    var flipSequence = function () {
      var lines = $('.hexagram').children().reverse();

      return changeLine($(lines[0]), null, null, function () {
        console.log('callback!');
        return changeLine($(lines[1]), null, null, function () {
          console.log('callback2!');
          return changeLine($(lines[2]), null, null, function () {
            return changeLine($(lines[3]), null, null, function () {
              return changeLine($(lines[4]), null, null, function () {
                return changeLine($(lines[5]), null, null, function () {
                  console.log('done!');
                })
              })
            });
          })
        });
      });      

    };

    var matchHexagram = function (sequence) {
      return _.find(hexagrams, function (hexagram) {
        return _.isEqual(hexagram.sequence, sequence);
      });
    };

    var getCurrentSequence = function () {
      var sequence = $('.hexagram').children('.line').map(function () {
        return !!$(this).hasClass('yang') ? 1 : 0;
      }).get().reverse();

      return sequence;
    };

    var changeCurrentHexagramInfo = function () {
      currentHexagram = matchHexagram(getCurrentSequence());

      changeOrderHeading(currentHexagram.order);
      changeTitleHeading(currentHexagram.title);

      return;
    };

    var shiftHexagrams = function (n) {
      var index;

      if (currentHexagram.order + n < 0) { // Handle edge cases of hexagram shifting
        index = 64 + (currentHexagram.order + n);
      } else if (currentHexagram.order + n > 64) {
        index = currentHexagram.order + n - 64;
      } else {
        index = currentHexagram.order + n;
      }

      var nextHex = _.find(hexagrams, function (hexagram) {
        return hexagram.order === index;
      });

      changeSequence(nextHex.sequence);
      changeCurrentHexagramInfo();

      return;
    };

    var coinFlip = function () {
      return Math.floor(Math.random() * 2);
    };

    var flip = true;

    var changeLine = function (el, nextStateFlag, nextState, cb) {
      var isYang = el.hasClass('yang');
      var direction;
      
      var yangOptions = {
        easing: 'spring'
      };

      var yinOptions = {
        easing: 'ease-in-out'
      };

      if (!!cb) {
        yangOptions.complete = cb;
        yinOptions.complete = cb;
      }

      if (!nextStateFlag) { // If we aren't passing in a new state for the line, just flip it
        if (isYang) {
          el.removeClass('yang');
          el.addClass('yin');
          el.children().velocity({
            translateX: 0,
            width: 0
          }, 10).velocity({
            backgroundColor: '#000000',
            width: '25%'
          }, yangOptions);
        } else {
          el.removeClass('yin');
          el.addClass('yang');
          
          el.children().velocity({
            translateX: !!flip ? '-500%' : '500%',
          }, yinOptions);

          flip = !flip;
        }
      } else { // If we are passing in a new state, only flip it if necessary
        if (isYang && nextState === 0) {
          el.removeClass('yang');
          el.addClass('yin');
          el.children().velocity({
            translateX: 0,
            width: 0
          }, 10).velocity({
            backgroundColor: '#000000',
            width: '25%'
          }, yangOptions);
        } else if (!isYang && nextState === 1) {
          el.removeClass('yin');
          el.addClass('yang');
          
          el.children().velocity({
            translateX: !!flip ? '-500%' : '500%',
          }, yinOptions);

          flip = !flip;
        }
      }

      currentHexagram = matchHexagram(getCurrentSequence());

      return;
    };

    currentHexagram = matchHexagram(getCurrentSequence());

    $('.line').click(function () {
      changeLine($(this));
      return changeCurrentHexagramInfo();
    });

    $('#left-arrow').click(function () {
      return shiftHexagrams(-1);
    });

    $('#right-arrow').click(function () {
      return shiftHexagrams(1);
    });

    $('#shuffle').click(function () {
      var newSequence = [];

      for (var i = 0; i < 6; i++) {
        result = coinFlip() + coinFlip() + coinFlip();
        newSequence.push(result >= 2 ? 1 : 0);
      }

      currentHexagram = matchHexagram(newSequence);
      changeSequence(newSequence);
      changeCurrentHexagramInfo();

      return;
    });

    $('#flip').click(function () {
      console.log('flipping');
      flipSequence();
    });
  });
</script>