<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4" id="main-container">
      <div class="heading">
        <div class="heading-container">
          <text class="title">Initiating</text>
          <text class="order">1</text>
        </div>
      </div>
      <div class="hexagram">
        <div class="line yang">
          <div class="center">&nbsp;</div>
        </div>
        <div class="line yang">
          <div class="center">&nbsp;</div>
        </div>
        <div class="line yang">
          <div class="center">&nbsp;</div>
        </div>
        <div class="line yang">
          <div class="center">&nbsp;</div>
        </div>
        <div class="line yang">
          <div class="center">&nbsp;</div>
        </div>
        <div class="line yang">
          <div class="center">&nbsp;</div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    var hexagrams = [{
      "name": "Qian",
      "title": "Initiating",
      "order": 1,
      "sequence": [1, 1, 1, 1, 1, 1]
    }, {
      "name": "Kun",
      "title": "Responding",
      "order": 2,
      "sequence": [0, 0, 0, 0, 0, 0]
    }, {
      "name": "Zhun",
      "title": "Beginning",
      "order": 3,
      "sequence": [1, 0, 0, 0, 1, 0]
    }, {
      "name": "Meng",
      "title": "Childhood",
      "order": 4,
      "sequence": [0, 1, 0, 0, 0, 1]
    }, {
      "name": "Xü",
      "title": "Needing",
      "order": 5,
      "sequence": [1, 1, 1, 0, 1, 0]
    }, {
      "name": "Song",
      "title": "Contention",
      "order": 6,
      "sequence": [0, 1, 0, 1, 1, 1]
    }, {
      "name": "Shi",
      "title": "Multitude",
      "order": 7,
      "sequence": [0, 1, 0, 0, 0, 0]
    }, {
      "name": "Bi",
      "title": "Union",
      "order": 8,
      "sequence": [0, 0, 0, 0, 1, 0]
    }, {
      "name": "Xiao Xü",
      "title": "Little Accumulation",
      "order": 9,
      "sequence": [1, 1, 1, 0, 1, 1]
    }, {
      "name": "Lü",
      "title": "Fulfillment",
      "order": 10,
      "sequence": [1, 1, 0, 1, 1, 1]
    }, {
      "name": "Tai",
      "title": "Advance",
      "order": 11,
      "sequence": [1, 1, 1, 0, 0, 0]
    }, {
      "name": "Pi",
      "title": "Hinderance",
      "order": 12,
      "sequence": [0, 0, 0, 1, 1, 1]
    }, {
      "name": "Tong Ren",
      "title": "Seeking Harmony",
      "order": 13,
      "sequence": [1, 0, 1, 0, 0, 0]
    }, {
      "name": "Da You",
      "title": "Great Harvest",
      "order": 14,
      "sequence": [1, 1, 1, 1, 0, 1]
    }, {
      "name": "Qian",
      "title": "Humbleness",
      "order": 15,
      "sequence": [0, 0, 1, 0, 0, 0]
    }, {
      "name": "Yü",
      "title": "Delight",
      "order": 16,
      "sequence": [0, 0, 0, 1, 0, 0]
    }, {
      "name": "Sui",
      "title": "Following",
      "order": 17,
      "sequence": [1, 0, 0, 1, 1, 0]
    }, {
      "name": "Gu",
      "title": "Remedying",
      "order": 18,
      "sequence": [0, 1, 1, 0, 0, 1]
    }, {
      "name": "Lin",
      "title": "Approaching",
      "order": 19,
      "sequence": [1, 1, 0, 0, 0, 0]
    }, {
      "name": "Guan",
      "title": "Watching",
      "order": 20,
      "sequence": [0, 0, 0, 0, 1, 1]
    }, {
      "name": "Shi He",
      "title": "Eradicating",
      "order": 21,
      "sequence": [1, 0, 0, 1, 0, 1]
    }, {
      "name": "Bi",
      "title": "Adorning",
      "order": 22,
      "sequence": [1, 0, 1, 0, 0, 1]
    }, {
      "name": "Bo",
      "title": "Falling Away",
      "order": 23,
      "sequence": [0, 0, 0, 0, 0, 1]
    }, {
      "name": "Fu",
      "title": "Turning Back",
      "order": 24,
      "sequence": [1, 0, 0, 0, 0, 0]
    }, {
      "name": "Wu Wang",
      "title": "Without Falsehood",
      "order": 25,
      "sequence": [1, 0, 0, 1, 1, 1]
    }, {
      "name": "Da Xü",
      "title": "Great Accumulation",
      "order": 26,
      "sequence": [1, 1, 1, 0, 0, 1]
    }, {
      "name": "Yi",
      "title": "Nourishing",
      "order": 27,
      "sequence": [1, 0, 0, 0, 0, 1]
    }, {
      "name": "Da Guo",
      "title": "Great Exceeding",
      "order": 28,
      "sequence": [0, 1, 1, 1, 1, 0]
    }, {
      "name": "Kan",
      "title": "Darkness",
      "order": 29,
      "sequence": [0, 1, 0, 0, 1, 0]
    }, {
      "name": "Li",
      "title": "Brightness",
      "order": 30,
      "sequence": [1, 0, 1, 1, 0, 1]
    }, {
      "name": "Xian",
      "title": "Mutual Influence",
      "order": 31,
      "sequence": [0, 0, 1, 1, 1, 0]
    }, {
      "name": "Heng",
      "title": "Long Lasting",
      "order": 32,
      "sequence": [0, 1, 1, 1, 0, 1]
    }, {
      "name": "Dun",
      "title": "Retreat",
      "order": 33,
      "sequence": [0, 0, 1, 1, 1, 1]
    }, {
      "name": "Da Zhuang",
      "title": "Great Strength",
      "order": 34,
      "sequence": [1, 1, 1, 1, 0, 0]
    }, {
      "name": "Jing",
      "title": "Proceeding Forward",
      "order": 35,
      "sequence": [0, 0, 0, 1, 0, 1]
    }, {
      "name": "Ming Yi",
      "title": "Brilliance Injured",
      "order": 36,
      "sequence": [1, 0, 1, 0, 0, 0]
    }, {
      "name": "Jia Ren",
      "title": "Household",
      "order": 37,
      "sequence": [1, 0, 1, 0, 1, 1]
    }, {
      "name": "Kui",
      "title": "Diversity",
      "order": 38,
      "sequence": [1, 1, 0, 1, 0, 1]
    }, {
      "name": "Jian",
      "title": "Hardship",
      "order": 39,
      "sequence": [0, 0, 1, 0, 1, 0]
    }, {
      "name": "Jie",
      "title": "Relief",
      "order": 40,
      "sequence": [0, 0, 1, 0, 1, 0]
    }, {
      "name": "Sun",
      "title": "Decreasing",
      "order": 41,
      "sequence": [1, 1, 0, 0, 0, 1]
    }, {
      "name": "Yi",
      "title": "Increasing",
      "order": 42,
      "sequence": [1, 0, 0, 0, 1, 1]
    }, {
      "name": "Guai",
      "title": "Eliminating",
      "order": 43,
      "sequence": [1, 1, 1, 1, 1, 0]
    }, {
      "name": "Gou",
      "title": "Encountering",
      "order": 44,
      "sequence": [0, 1, 1, 1, 1, 1]
    }, {
      "name": "Cui",
      "title": "Bringing Together",
      "order": 45,
      "sequence": [0, 0, 0, 1, 1, 0]
    }, {
      "name": "Sheng",
      "title": "Growing Upward",
      "order": 46,
      "sequence": [0, 1, 1, 0, 0, 0]
    }, {
      "name": "Kun",
      "title": "Exhausting",
      "order": 47,
      "sequence": [0, 1, 0, 1, 1, 0]
    }, {
      "name": "Jing",
      "title": "Replenishing",
      "order": 48,
      "sequence": [0, 1, 1, 0, 1, 0]
    }, {
      "name": "Ge",
      "title": "Abolishing the Old",
      "order": 49,
      "sequence": [1, 0, 1, 1, 1, 0]
    }, {
      "name": "Ding",
      "title": "Establishing the New",
      "order": 50,
      "sequence": [0, 1, 1, 1, 0, 1]
    }, {
      "name": "Zhen",
      "title": "Taking Action",
      "order": 51,
      "sequence": [1, 0, 0, 1, 0, 0]
    }, {
      "name": "Gen",
      "title": "Keeping Still",
      "order": 52,
      "sequence": [0, 0, 1, 0, 0, 1]
    }, {
      "name": "Jian",
      "title": "Developing Gradually",
      "order": 53,
      "sequence": [0, 0, 1, 0, 1, 1]
    }, {
      "name": "Gui Mei",
      "title": "Marrying Maiden",
      "order": 54,
      "sequence": [1, 1, 0, 1, 0, 0]
    }, {
      "name": "Feng",
      "title": "Abundance",
      "order": 55,
      "sequence": [1, 0, 1, 1, 0, 0]
    }, {
      "name": "Lü",
      "title": "Traveling",
      "order": 56,
      "sequence": [0, 0, 1, 1, 0, 1]
    }, {
      "name": "Xun",
      "title": "Proceeding Humbly",
      "order": 57,
      "sequence": [0, 1, 1, 0, 1, 1]
    }, {
      "name": "Dui",
      "title": "Joyful",
      "order": 58,
      "sequence": [1, 1, 0, 1, 1, 0]
    }, {
      "name": "Huan",
      "title": "Dispersing",
      "order": 59,
      "sequence": [0, 1, 0, 0, 1, 1]
    }, {
      "name": "Jie",
      "title": "Restricting",
      "order": 60,
      "sequence": [1, 1, 0, 0, 1, 0]
    }, {
      "name": "Zhong Fu",
      "title": "Innermost Sincerity",
      "order": 61,
      "sequence": [1, 1, 0, 0, 1, 1]
    }, {
      "name": "Xiao Guo",
      "title": "Little Exceeding",
      "order": 62,
      "sequence": [0, 0, 1, 1, 0, 0]
    }, {
      "name": "Ji Ji",
      "title": "Already Fulfilled",
      "order": 63,
      "sequence": [1, 0, 1, 0, 1, 0]
    }, {
      "name": "Wei Ji",
      "title": "Not Yet Fulfilled",
      "order": 64,
      "sequence": [0, 1, 0, 1, 0, 1]
    }];

    var getCurrentSequence = function () {
      var sequence = $('.hexagram').children('.line').map(function () {
        return !!$(this).hasClass('yang') ? 1 : 0;
      }).get().reverse();

      return sequence;
    };

    var getCurrentHexagram = function (sequence) {
      var hexagram = _.find(hexagrams, function (hexagram) {
        return _.isEqual(hexagram.sequence, sequence);
      });

      if (!!hexagram) {
        $('.heading .order').velocity('transition.flipXOut', 200, function () {
          $('.heading .order').text(hexagram.order);
        }).velocity('transition.flipXIn', 300);

        $('.heading .title').velocity({
          translateX: 100,
          opacity: 0
        }, 200, function () {
          $('.heading .title').text(hexagram.title);
        }).velocity('transition.slideRightIn', 300);
      }
    };

    $('.line').click(function () {
      var el = $(this);
      var isYang = el.hasClass('yang');

      if (isYang) {
        el.removeClass('yang');
        el.addClass('yin');
        el.children().velocity({
          width: '25%'
        }, 'spring');
      } else {
        el.removeClass('yin');
        el.addClass('yang');
        el.children().velocity({
          width: 0
        });
      }

      var sequence = getCurrentSequence();
      return getCurrentHexagram(sequence);
    });
  });
</script>