body {
  background: linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ),
  url('/images/background.jpg');
}

.heading {
  height: 65px;
  width: 100%;
  font-family: 'Overlock SC', cursive;
  color: #FFFFFF;

  .order {
    font-size: 75px;
    float: left;
    clear: none;
    position: relative;
    bottom: 40%;
    margin-top: 5px;
  }

  .title {
    font-size: 30px;
    float: right;
    clear: none;
    position: relative;
    right: 3px;
    top: 34px;
    opacity: 1;
    transform: translateX(0px);
    display: block;
  }
}

#main-container {
  overflow: hidden;
}

.hexagram {
  width: 100%;
  margin: 0 auto;

  .line {
    height: 30px;
    margin: 20px 5px;
  }

  .left {
    background-color: #FFFFFF;
    width: 50%;
    position: absolute;
    height: 28px;
    left: 20px;
  }

  .right {
    background-color: #FFFFFF;
    width: 50%;
    position: absolute;
    height: 28px;
    right: 20px;
  }

}

#breathe {
  position: absolute;
  top: 0;
  bottom: 30px;
  left: 0;
  right: 0;
  background-color: #000000;

  #ball {
    margin: 0 auto;
    height: 25px;
    width: 25px;
    border-radius: 12px;
    background-color: red;
  }
}


#breathe-buttons {
  position: absolute;
  height: 30px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: gray;
  
  #rate {
    float: right;
    font-size: 22px;
    color: #FFFFFF;
    padding-right: 5px;
  }
}

#arrows {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  width: 100%;

  #flip {
    margin-left: 15px;
  }

  // #right-arrow {
  //   float: right;
  // }
}

.glyph-arrows {
  color: #FFFFFF;
  font-size: 25px;
}