body {
  background: linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ),
  url('/images/background.jpg');
}

.heading {
  height: 65px;
  width: 100%;
  font-family: 'Overlock SC', cursive;
  color: rgba(255, 255, 255, 0.75);

  .order {
    font-family: 'Delius', cursive;
    font-size: 60px;
    position: absolute;
    top: 7px;
    left: 10px;
  }

  .title {
    font-size: 30px;
    float: right;
    clear: none;
    position: absolute;
    right: 10px;
    top: 40px;
    opacity: 1;
    transform: translateX(0px);
    display: block;
  }
}

#main-container {
  overflow: hidden;
  padding: 0;
}

#hex-icon {
  width: 44px;
  height: 25px;
  margin: 0;
  position: absolute;
  right: 0;
  top: 9px;

  .hex-icon-line {
    height: 3px;
    margin: 2px 0;
  }

  .yang > .hex-icon-line-left {
    right: 27px;
  }

  .yin > .hex-icon-line-left {
    right: 30px;
  }

  .yang > .hex-icon-line-right {
    left: 17px;
  }

  .yin > .hex-icon-line-right {
    left: 21px;
  }

  .hex-icon-line-left {
    background-color: rgba(255, 255, 255, 0.75);
    position: absolute;
    height: 2px;
    left: 0px;
  }

  .hex-icon-line-right {
    background-color: rgba(255, 255, 255, 0.75);
    position: absolute;
    height: 2px;
    right: 10px;
  }
}

#hexagram {
  width: 100%;
  margin: 0 auto;

  .line {
    height: 30px;
    margin: 20px 0;
    overflow: hidden;
  }

  .left {
    background-color: rgba(255, 255, 255, 0.75);
    position: absolute;
    height: 28px;
    left: 10px;
    right: 50%;
  }

  .right {
    background-color: rgba(255, 255, 255, 0.75);
    position: absolute;
    height: 28px;
    left: 50%;
    right: 10px;
  }

}

#breathe {
  position: absolute;
  top: 0;
  bottom: 30px;
  left: 0;
  right: 0;
  background-color: #000000;

  #ball {
    margin: 0 auto;
    height: 25px;
    width: 25px;
    border-radius: 12px;
    background-color: red;
  }
}


#breathe-buttons {
  position: absolute;
  height: 30px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: gray;
  
  #rate {
    float: right;
    font-size: 22px;
    color: #FFFFFF;
    padding-right: 5px;
  }
}

#arrows {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 5px;
  width: 100%;

  #flip, #study {
    margin-left: 25px;
  }
}

.glyph-arrows {
  color: rgba(255, 255, 255, 0.75);
  font-size: 25px;
}

#commentary-wrapper {
  overflow-y: scroll;
  top: 10px;
  left: 10px;
  bottom: 25px;
  position: absolute;

  #commentary {
    margin-top: 10px;

    #decision {
      text-align: left;

      text {
        white-space: pre-line;
        color: rgba(255, 255, 255, 0.75);
        font-size: 16px;
        line-height: 1;
      }
    }

    #decision_commentary {
      margin-top: 20px;
      text-align: left;

      text {
        white-space: pre-line;
        color: rgba(255, 255, 255, 0.75);
        font-size: 16px;
        line-height: 1;
      }
    }
  }
}


#line-wrapper {
  overflow-y: scroll;
  right: 5px;
  top: 5px;
  left: 5px;
  bottom: 25px;
  position: absolute;
}

.lines {
  color: rgba(255, 255, 255, 0.75);
}

ol#lines {
  padding-left: 25px;
}

li.line  {
  text-align: left;
  margin-top: 15px;

  text {
    display: block;
    white-space: pre-line;
  }

  .commentary {
    font-style: italic;
    margin-top: 5px;
  }
}

.swiper-container {
  height: 87vh;
  margin-top: 5px;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 0;
}

.swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 1);
}

.swiper-pagination-bullet-active {
  background-color: rgba(255, 255, 255, 0.75);
}
