body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.hexagram {
  width: 100%;
  margin: 0 auto;

  .line {
    height: 30px;
    margin: 20px 5px;
  }

  .divider {
    height: 0;
    margin: 30px;
  }

  .yin {
    background-color: #000;

    .center {
      background-color: #FFF;
      width: 0;
      height: 32px;
      margin: 0 auto;
    }
  }

  .yang {
    background-color: #000;

    .center {
      background-color: #FFF;
      width: 0;
      height: 32px;
      margin: 0 auto;
    }
  }
}