html {
  height: 100%;
}

body {
  background: linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ),
  url('/images/background.jpg');
  color: rgba(255, 255, 255, 0.75);
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.heading {
  height: 65px;
  width: 100%;
  font-family: 'Overlock SC', cursive;
  color: rgba(255, 255, 255, 0.75);

  .order {
    font-family: 'Delius', cursive;
    font-size: 60px;
    position: absolute;
    top: 7px;
    left: 10px;
  }

  .title {
    font-size: 30px;
    float: right;
    clear: none;
    position: absolute;
    right: 10px;
    top: 40px;
    opacity: 1;
    transform: translateX(0px);
    display: block;
  }
}

.heading-list {
  height: 90px;
  width: 100%;
  font-family: 'Overlock SC', cursive;
  color: rgba(255, 255, 255, 0.75);
  background-color: rgba(95, 95, 95, 0.75);
  overflow: hidden;

  .hex-swiper-2 {
    margin-top: 40px;
  }
}


#main-container {
  overflow: hidden;
  padding: 0;
}

#hex-icon {
  width: 44px;
  height: 25px;
  margin: 0;
  position: absolute;
  right: 0;
  top: 9px;

  .hex-icon-line {
    height: 3px;
    margin: 2px 0;
  }

  .yang > .hex-icon-line-left {
    right: 27px;
  }

  .yin > .hex-icon-line-left {
    right: 30px;
  }

  .yang > .hex-icon-line-right {
    left: 17px;
  }

  .yin > .hex-icon-line-right {
    left: 21px;
  }

  .hex-icon-line-left {
    background-color: rgba(255, 255, 255, 0.75);
    position: absolute;
    height: 2px;
    left: 0px;
  }

  .hex-icon-line-right {
    background-color: rgba(255, 255, 255, 0.75);
    position: absolute;
    height: 2px;
    right: 10px;
  }
}

#hexagram {
  width: 100%;
  margin: 0 auto;

  .line {
    height: 30px;
    margin: 20px 0;
    overflow: hidden;
  }

  .left {
    background-color: rgba(255, 255, 255, 0.75);
    position: absolute;
    height: 28px;
    left: 10px;
    right: 50%;
  }

  .right {
    background-color: rgba(255, 255, 255, 0.75);
    position: absolute;
    height: 28px;
    left: 50%;
    right: 10px;
  }
}

.differences {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  background-color: rgba(95, 95, 95, 0.75);;
  width: 100%;
  flex: 1;
  overflow-y: scroll;

  .title {
    flex: 0 0 100%;
    background: rgba(0, 0, 0, 0.25);
  }

  .line-diff {
    flex: 0 0 100%;

    .line-diff-text {
      padding: 5px;
      font-size: 16px;
    }

    .line-diff-comm {
      padding: 10px;
      font-style: italic;
      font-size: 14px;
    }
  }
}

.hex-1, .hex-2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .title-row {
    flex: 0 0 100%;
    width: 100%;
    // background-color: green;
    padding-left: 10px;
    padding-right: 10px;

    .order {
      font-family: 'Delius', cursive;
      font-size: 33px;
    }

    .name {
      font-family: 'Overlock SC', cursive;
      font-size: 30px;
      float: right;
    }
  }

  .hex-side {
    width: 50%;
    // background-color: red;
  }

  .info-side {
    flex: 1;
    // background-color: blue;
    padding: 5px;
  }

  .hex-icon-compare {
    color: white;
    width: 100px;
    height: 125px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .line {
      width: 100%;
      height: 10px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      div {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.75);
        .right {
          margin-left: auto;
        }
      }

    }

    .line.yang {
      .right, .left {
        width: 50%;
        height: 100%;
      }

      .right {
        margin-left: auto;
      }
    }

    .line.yin {
      .right, .left {
        width: 33%;
        height: 100%;
      }

      .right {
        margin-left: auto;
      }
    }
  }
}

#breathe {
  position: absolute;
  top: 0;
  bottom: 30px;
  left: 0;
  right: 0;
  background-color: #000000;

  #ball {
    margin: 0 auto;
    height: 25px;
    width: 25px;
    border-radius: 12px;
    background-color: red;
  }
}


#breathe-buttons {
  position: absolute;
  height: 30px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: gray;
  
  #rate {
    float: right;
    font-size: 22px;
    color: #FFFFFF;
    padding-right: 5px;
  }
}

#arrows {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 5px;
  width: 100%;

  #flip, #shuffle, #cast {
    margin-left: 15px;
  }
}

.glyph-arrows {
  color: rgba(255, 255, 255, 0.75);
  font-size: 25px;
}

#introduction, #judgement, #image {
  margin-top: 10px;
  text-align: left;

  text {
    white-space: pre-line;
    color: rgba(255, 255, 255, 0.75);
    font-size: 16px;
    line-height: 1;
  }

  div.spacer {
    height: 30px;
  }

  .text {
    font-family: 'Times', serif;
    font-size: 20px;
  }

  .commentary {
    font-family: 'Helvetica', cursive;
    margin-top: 10px;
    font-style: italic;
  }
}
.slide-liner {
  overflow-y: scroll;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 35px;
  position: absolute;
}

.lines {
  color: rgba(255, 255, 255, 0.75);
}

ol#lines {
  padding-left: 25px;
}

li.line  {
  text-align: left;
  margin-top: 15px;

  text {
    display: block;
    white-space: pre-line;
  }

  .text {
    font-size: 18px;
    font-family: 'Times', serif;
  }

  .summary {
    font-style: italic;
    font-size: 13px;
    margin-top: 5px;
  }
}

.swiper-container {
  height: 87vh;
  margin-top: 5px;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 0;
}

.swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 1);
}

.swiper-pagination-bullet-active {
  background-color: rgba(255, 255, 255, 0.75);
}

#shakeModal {
  opacity: 0;
  background-color: black;
  position: absolute;
  top: 145px;
  left: 45px;
  right: 45px;
  bottom: 145px;
  z-index: 0;
  vertical-align:middle;
  text-align:center;

  img {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
  }

  text {
    color: white;
    display: block;
    position: relative;
    top: 210px;
  }

  #countdown {
    font-size: 95px;
  }
}

#swipeModal {
  opacity: 0;
  position: absolute;
  top: 145px;
  left: 45px;
  right: 45px;
  z-index: 0;
  vertical-align:middle;
  text-align:center;

  img {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
  }
}