body {
  background-color: #000000;
}

.heading {
  height: 65px;
  width: 100%;

  font-family: 'Overlock SC', cursive;
  color: #FFFFFF;

  .heading-container {
    height: 100%;
    width: 100%;
  }

  .order {
    font-size: 75px;
    float: left;
    clear: none;
    position: relative;
    bottom: 40%;
  }

  .title {
    font-size: 30px;
    float: right;
    clear: none;
    position: relative;
    right: 3px;
    top: 34px;
    opacity: 1;
    transform: translateX(0px);
    display: block;
  }
}

#main-container {
  overflow: hidden;
}

.hexagram {
  width: 100%;
  margin: 0 auto;

  .line {
    height: 30px;
    margin: 20px 5px;
  }

  .divider {
    height: 0;
    margin: 30px;
  }

  .yin {
    background-color: #FFFFFF;

    .center {
      width: 0;
      height: 102%;
      margin: 0 auto;
    }
  }

  .yang {
    background-color: #FFFFFF;

    .center {
      width: 0;
      height: 102%;
      margin: 0 auto;
    }
  }
}

#breathe {
  position: absolute;
  top: 0;
  bottom: 30px;
  left: 0;
  right: 0;
  background-color: #000000;

  #ball {
    margin: 0 auto;
    height: 25px;
    width: 25px;
    border-radius: 12px;
    background-color: red;
  }
}


#breathe-buttons {
  position: absolute;
  height: 30px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: gray;
  
  #rate {
    float: right;
    font-size: 22px;
    color: #FFFFFF;
    padding-right: 5px;
  }
}

#arrows {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
}

.glyph-arrows {
  color: #FFFFFF;
  font-size: 25px;
}